.rule {
    &__summary {
        &-kv {
            @include flex(row, center, space-between, 40px);
            .txt-box {
                h3 {
                    position: relative;
                    padding-left: 24px;
                    margin-top: 48px;
                    border-left: 2px solid $cl-primary;
                    @include font(30px, 500, 1.46);
                    letter-spacing: -0.75px;
                    color: $cl-title;
                    span {
                        color: $cl-primary;
                    }
                }
            }
            .img-box {
                width: 334px;
                margin-right: 48px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &-principle {
            margin-top: 20px;
            .grid {
                gap: 36px 40px;
                .box {
                    padding: 0;
                    .top {
                        width: 100%;
                        position: relative;
                        padding: 28px;
                        background-color: $cl-blue-50;
                        span {
                            @include font(18px, 400, 1.38);
                            color: $cl-sub-title;
                        }
                        h4 {
                            @include font(24px, 700, 1.4);
                            color: $cl-title;
                            margin-block: 4px 12px;
                        }
                        p {
                            @include font(18px, 500, 1.16);
                            color: $cl-text-2;
                        }
                    }
                    ol {
                        width: 100%;
                        position: relative;
                        padding: 24px 28px 32px;
                        li {
                            @include font(20px, 400, 1.6);
                            color: $cl-title;
                            & + li {
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__writing {
        &-why {
            margin-top: 16px;
            .grid {
                .box {
                    padding: 24px;
                    strong {
                        @include font(20px, 600, 1.4);
                        color: $cl-title;
                    }
                    p {
                        position: relative;
                        margin-top: 4px;
                        padding-left: 20px;
                        @include font(16px, 400, 1.4);
                        color: $cl-title;
                        &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 6px;
                            left: 0;
                            @include bg-set;
                            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.5957' width='7.91421' height='7.91421' transform='rotate(45 5.5957 0)' fill='%232873E3'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
        &-detail {
            margin-top: 40px;
            ol {
                li {
                    @include flex(column, flex-start, flex-start, 6px);
                    strong {
                        @include font(20px, 600, 1.4);
                        color: $cl-title;
                    }
                    p {
                        @include font(18px, 400, 1.38);
                        color: $cl-title;
                    }
                    span {
                        @include font(15px, 400, 1.4);
                        color: #737373;
                    }
                    & + li {
                        margin-top: 40px;
                    }
                }
            }
            .detail-case-box {
                .box {
                    gap: 0;
                }
            }
        }
    }
}