.page__tab {
    width: 100%;
    position: relative;
    &-list {
        width: 100%;
        position: relative;
        @include flex(row, flex-start, flex-start, 60px);
        border-bottom: 1px solid $cl-border;
        margin-bottom: 80px;
        .tab-btn {
            width: fit-content;
            height: 56px;
            position: relative;
            @include flex(row, center, center, 0);
            @include font(14px, 400, 1.28);
            color: #767676;
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $cl-blue-500;
                display: none;
            }
            &[aria-selected="true"] {
                color: $cl-black;
                font-weight: 600;
                &::after {
                    display: block;
                }
            }
        }
    }
    &__panel {
        width: 100%;
        position: relative;
        &[hidden] {
            display: none;
        }
    }
}