@mixin ps-center($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin font($size, $weight: 400, $line: 1.2) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

@mixin flex($direct:row, $align: center, $justify: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direct;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin ellipsis($w) {
    width: $w;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin ellipsisMulti($line, $w) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    width: $w;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@mixin ps-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

@mixin ps-icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

@mixin bg-set {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.flex-row {
    @include flex(row, center, flex-start, 0);
    &.sb {
        justify-content: space-between;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}

.flex-col {
    @include flex(column, flex-start, flex-start, 0);
}