.m--20 {
  margin: -20px !important;
}

.ml--20 {
  margin-left: -20px !important;
}

.mr--20 {
  margin-right: -20px !important;
}

.mt--20 {
  margin-top: -20px !important;
}

.mb--20 {
  margin-bottom: -20px !important;
}

.p--20 {
  padding: -20px;
}

.pl--20 {
  padding-left: -20px !important;
}

.pr--20 {
  padding-right: -20px !important;
}

.pt--20 {
  padding-top: -20px !important;
}

.gap--20 {
  gap: -20px !important;
}

.m-0 {
  margin: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.p-0 {
  padding: 0px;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.gap-0 {
  gap: 0px !important;
}

.m-4 {
  margin: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.p-4 {
  padding: 4px;
}

.pl-4 {
  padding-left: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.gap-4 {
  gap: 4px !important;
}

.m-8 {
  margin: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.p-8 {
  padding: 8px;
}

.pl-8 {
  padding-left: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.gap-8 {
  gap: 8px !important;
}

.m-12 {
  margin: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.p-12 {
  padding: 12px;
}

.pl-12 {
  padding-left: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.gap-12 {
  gap: 12px !important;
}

.m-16 {
  margin: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.p-16 {
  padding: 16px;
}

.pl-16 {
  padding-left: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.gap-16 {
  gap: 16px !important;
}

.m-20 {
  margin: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.p-20 {
  padding: 20px;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.gap-20 {
  gap: 20px !important;
}

.m-24 {
  margin: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.p-24 {
  padding: 24px;
}

.pl-24 {
  padding-left: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.gap-24 {
  gap: 24px !important;
}

.m-28 {
  margin: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.p-28 {
  padding: 28px;
}

.pl-28 {
  padding-left: 28px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.gap-28 {
  gap: 28px !important;
}

.m-32 {
  margin: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.p-32 {
  padding: 32px;
}

.pl-32 {
  padding-left: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.gap-32 {
  gap: 32px !important;
}

.m-36 {
  margin: 36px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.p-36 {
  padding: 36px;
}

.pl-36 {
  padding-left: 36px !important;
}

.pr-36 {
  padding-right: 36px !important;
}

.pt-36 {
  padding-top: 36px !important;
}

.gap-36 {
  gap: 36px !important;
}

.m-40 {
  margin: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.p-40 {
  padding: 40px;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.gap-40 {
  gap: 40px !important;
}

.m-44 {
  margin: 44px !important;
}

.ml-44 {
  margin-left: 44px !important;
}

.mr-44 {
  margin-right: 44px !important;
}

.mt-44 {
  margin-top: 44px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.p-44 {
  padding: 44px;
}

.pl-44 {
  padding-left: 44px !important;
}

.pr-44 {
  padding-right: 44px !important;
}

.pt-44 {
  padding-top: 44px !important;
}

.gap-44 {
  gap: 44px !important;
}

.m-48 {
  margin: 48px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.p-48 {
  padding: 48px;
}

.pl-48 {
  padding-left: 48px !important;
}

.pr-48 {
  padding-right: 48px !important;
}

.pt-48 {
  padding-top: 48px !important;
}

.gap-48 {
  gap: 48px !important;
}

.m-52 {
  margin: 52px !important;
}

.ml-52 {
  margin-left: 52px !important;
}

.mr-52 {
  margin-right: 52px !important;
}

.mt-52 {
  margin-top: 52px !important;
}

.mb-52 {
  margin-bottom: 52px !important;
}

.p-52 {
  padding: 52px;
}

.pl-52 {
  padding-left: 52px !important;
}

.pr-52 {
  padding-right: 52px !important;
}

.pt-52 {
  padding-top: 52px !important;
}

.gap-52 {
  gap: 52px !important;
}

.m-56 {
  margin: 56px !important;
}

.ml-56 {
  margin-left: 56px !important;
}

.mr-56 {
  margin-right: 56px !important;
}

.mt-56 {
  margin-top: 56px !important;
}

.mb-56 {
  margin-bottom: 56px !important;
}

.p-56 {
  padding: 56px;
}

.pl-56 {
  padding-left: 56px !important;
}

.pr-56 {
  padding-right: 56px !important;
}

.pt-56 {
  padding-top: 56px !important;
}

.gap-56 {
  gap: 56px !important;
}

.m-60 {
  margin: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.p-60 {
  padding: 60px;
}

.pl-60 {
  padding-left: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.gap-60 {
  gap: 60px !important;
}

.m-80 {
  margin: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.p-80 {
  padding: 80px;
}

.pl-80 {
  padding-left: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.gap-80 {
  gap: 80px !important;
}

.m-100 {
  margin: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.p-100 {
  padding: 100px;
}

.pl-100 {
  padding-left: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.gap-100 {
  gap: 100px !important;
}

.m-120 {
  margin: 120px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

.mr-120 {
  margin-right: 120px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.p-120 {
  padding: 120px;
}

.pl-120 {
  padding-left: 120px !important;
}

.pr-120 {
  padding-right: 120px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.gap-120 {
  gap: 120px !important;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Thin.woff2") format("woff2"), url("../../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("../../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Light.woff2") format("woff2"), url("../../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Regular.woff2") format("woff2"), url("../../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Medium.woff2") format("woff2"), url("../../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2"), url("../../fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Bold.woff2") format("woff2"), url("../../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("../../fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Black.woff2") format("woff2"), url("../../fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.flex-row.sb {
  justify-content: space-between;
}
.flex-row.wrap {
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  word-break: keep-all;
  font-variant-numeric: tabular-nums;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

img {
  border: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

button, a {
  font-family: "Pretendard";
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  color: inherit;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

label {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

iframe {
  border: 0;
  height: 100%;
}

.wrap {
  width: 100%;
  position: relative;
}
.wrap .header {
  width: 100%;
  height: 72px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-inline: 32px;
  border-bottom: 1px solid rgba(0, 0, 38, 0.1);
}
.wrap .header .logo {
  width: 183px;
  height: 48px;
}
.wrap .header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrap .header .search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}
.wrap .header .search-box .input-box {
  width: 200px;
  height: 40px;
  position: relative;
}
.wrap .header .search-box .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-inline: 12px;
}
.wrap .header .search-box .input-box::after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #C5C8D3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
}
.wrap .header .search-box .search-btn {
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #9c9c9c;
}
.wrap .header .search-box .search-btn::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 20L14.6667 14.6667M4 10.2222C4 11.0393 4.16094 11.8484 4.47364 12.6034C4.78633 13.3583 5.24466 14.0442 5.82245 14.622C6.40023 15.1998 7.08617 15.6581 7.84108 15.9708C8.596 16.2835 9.40511 16.4444 10.2222 16.4444C11.0393 16.4444 11.8484 16.2835 12.6034 15.9708C13.3583 15.6581 14.0442 15.1998 14.622 14.622C15.1998 14.0442 15.6581 13.3583 15.9708 12.6034C16.2835 11.8484 16.4444 11.0393 16.4444 10.2222C16.4444 9.40511 16.2835 8.596 15.9708 7.84108C15.6581 7.08617 15.1998 6.40023 14.622 5.82245C14.0442 5.24466 13.3583 4.78633 12.6034 4.47364C11.8484 4.16094 11.0393 4 10.2222 4C9.40511 4 8.596 4.16094 7.84108 4.47364C7.08617 4.78633 6.40023 5.24466 5.82245 5.82245C5.24466 6.40023 4.78633 7.08617 4.47364 7.84108C4.16094 8.596 4 9.40511 4 10.2222Z' stroke='%239C9C9C' stroke-width='1.67' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.wrap .container {
  width: 100%;
  height: calc(100vh - 72px);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.wrap .container .lnb {
  width: 255px;
  height: 100%;
  flex-shrink: 0;
  background-color: #FAFAFA;
  border-right: 1px solid #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  padding-top: 24px;
}
.wrap .container .lnb .nav {
  width: 100%;
  flex: 1;
  position: relative;
  padding: 0 8px 24px;
  overflow-y: auto;
}
.wrap .container .lnb .nav .depth-1 > li {
  width: 100%;
  position: relative;
}
.wrap .container .lnb .nav .depth-1 > li > a {
  display: block;
  width: 100%;
  position: relative;
  padding: 8px 8px 8px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #000;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s ease-in-out;
}
.wrap .container .lnb .nav .depth-1 > li > a::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7.5 14.5L12.5 9.5L7.5 4.5' stroke='%23989898' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.wrap .container .lnb .nav .depth-1 > li > a:hover {
  background-color: #F3F3F3;
  color: #364153;
}
.wrap .container .lnb .nav .depth-1 > li.on a::after {
  transform: translateY(-50%) rotate(90deg);
}
.wrap .container .lnb .nav .depth-1 > li.on .depth-2 {
  display: block;
}
.wrap .container .lnb .nav .depth-1 .depth-2 {
  width: 100%;
  position: relative;
  display: none;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li {
  width: 100%;
  position: relative;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li > button {
  display: block;
  width: 100%;
  position: relative;
  padding: 8px 8px 8px 48px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #767676;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li > button:hover {
  background-color: #F3F3F3;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li.active > button {
  background-color: #EEE;
  color: #2873E3;
  font-weight: 600;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li + li {
  margin-top: 4px;
}
.wrap .container .lnb .nav .depth-1 .depth-2 > li:last-child {
  margin-bottom: 2px;
}
.wrap .container .lnb .help {
  width: 100%;
  height: 70px;
  padding-inline: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  border-top: 1px solid #E5E7EB;
}
.wrap .container .lnb .help a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  color: #364153;
  position: relative;
  padding-left: 32px;
}
.wrap .container .lnb .help a::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url("../../images/icon/lnb/help.svg") 50% 50%/contain no-repeat;
}
.wrap .container .content {
  flex: 1;
  min-width: 941px;
  height: 100%;
  position: relative;
  padding: 96px 50px 100px;
  overflow-y: auto;
}
.wrap .container .content .page-title-box {
  margin-bottom: 54px;
}
.wrap .container .content .page-title-box .sub-tit {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.38;
  color: #909090;
}
.wrap .container .content .page-title-box .page-tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #101116;
}
.wrap .container .content .reference-box {
  width: 100%;
  position: relative;
  padding: 20px 20px 0;
  margin-block: 200px -50px;
  border-top: 1px solid #C5C8D3;
}
.wrap .container .content .reference-box ol li {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: #737684;
}
.wrap .container .content .reference-box ol li a {
  text-decoration: underline;
}
.wrap .container .content .reference-box ol li + li {
  margin-top: 6px;
}

.title-box .step {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  color: #6A7282;
}
.title-box .cnt-tit {
  margin-block: 4px 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  color: #171717;
}
.title-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #212121;
}

.case-grid-box .box {
  border-radius: 20px;
  background-color: #F7F8FA;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  text-align: center;
}
.case-grid-box .box h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  color: #212121;
}
.case-grid-box .box h3 span {
  color: #2873E3;
}
.case-grid-box .box .img {
  width: 100%;
  position: relative;
  flex: 1;
}
.case-grid-box .box .img img {
  width: 100%;
  object-fit: contain;
}
.case-grid-box .box p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #2873E3;
  margin-bottom: 12px;
}
.case-grid-box .box > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #4E4E4E;
}

.chk-point-list ul {
  width: 100%;
  position: relative;
  border-block: 1px solid #C5C8D3;
}
.chk-point-list ul li {
  width: 100%;
  position: relative;
  padding: 20px 20px 20px 56px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #212121;
}
.chk-point-list ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  left: 20px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_650_23691)'%3E%3Cpath d='M10.0013 18.3337C14.6037 18.3337 18.3346 14.6027 18.3346 10.0003C18.3346 5.39795 14.6037 1.66699 10.0013 1.66699C5.39893 1.66699 1.66797 5.39795 1.66797 10.0003C1.66797 14.6027 5.39893 18.3337 10.0013 18.3337Z' stroke='%232873E3' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 9.99967L9.16667 11.6663L12.5 8.33301' stroke='%232873E3' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_650_23691'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.chk-point-list ul li + li {
  border-top: 1px solid #F3F4F6;
}

.blue-num-list ol {
  counter-reset: blueNum;
}
.blue-num-list ol li {
  position: relative;
  padding-left: 44px;
}
.blue-num-list ol li::before {
  counter-increment: blueNum;
  content: counter(blueNum);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F3F9FF;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #2873E3;
}

.detail-case-box {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #F3F4F7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: min(12vw, 188px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 188px;
  padding: 36px;
}
.detail-case-box .box {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.detail-case-box .box .type {
  padding: 4px 20px 4px 44px;
  border-radius: 16px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  color: #212121;
}
.detail-case-box .box .type::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  left: 18px;
}
.detail-case-box .box .img {
  width: auto;
}
.detail-case-box .box .img img {
  object-fit: contain;
}
.detail-case-box .box .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
  color: #4E4E4E;
  text-align: center;
}
.detail-case-box .box.dont .type {
  background-color: #FCE5E4;
}
.detail-case-box .box.dont .type::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12 4L4 12M4 4L12 12' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.detail-case-box .box.do .type {
  background-color: #BDF4E9;
}
.detail-case-box .box.do .type::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.cnt-tit {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  color: #212121;
  margin-bottom: 8px;
}
.cnt-tit span {
  color: #2873E3;
}

.cnt-sub-tit {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}

.cnt-box {
  width: 100%;
  position: relative;
}
.cnt-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #212121;
}
.cnt-box + .cnt-box {
  margin-top: 80px;
}

.cl-primary {
  color: #2873E3;
}

.dot-list li {
  width: 100%;
  position: relative;
  padding-left: 12px;
}
.dot-list li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4E4E4E;
  position: absolute;
  top: 10px;
  left: 0;
}

.page__tab {
  width: 100%;
  position: relative;
}
.page__tab-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 80px;
}
.page__tab-list .tab-btn {
  width: fit-content;
  height: 56px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: #767676;
}
.page__tab-list .tab-btn::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #4393F0;
  display: none;
}
.page__tab-list .tab-btn[aria-selected=true] {
  color: #000;
  font-weight: 600;
}
.page__tab-list .tab-btn[aria-selected=true]::after {
  display: block;
}
.page__tab__panel {
  width: 100%;
  position: relative;
}
.page__tab__panel[hidden] {
  display: none;
}

.grid {
  width: 100%;
  position: relative;
  display: grid;
}
.grid.repeat-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid.repeat-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.repeat-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.repeat-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.repeat-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.repeat-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid.repeat-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid.repeat-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid.repeat-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid.repeat-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid.repeat-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid.repeat-12 {
  grid-template-columns: repeat(12, 1fr);
}
.grid.border .box {
  width: 100%;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFF;
  border: 1px solid #E5E7EB;
  overflow: hidden;
}

.common-table {
  width: 100%;
  position: relative;
  border-block: 1px solid #101116;
}
.common-table table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
}
.common-table table thead {
  width: 100%;
  height: 48px;
  background-color: #F3F9FF;
  border-bottom: 1px solid #C5C8D3;
}
.common-table table thead th {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #212121;
  text-align: center;
  vertical-align: middle;
}
.common-table table tbody tr {
  border-bottom: 1px solid #C5C8D3;
}
.common-table table tbody tr th {
  background-color: #F3F4F7;
}
.common-table table tbody tr th, .common-table table tbody tr td {
  padding: 16px 20px;
  border-right: 1px solid #C5C8D3;
}
.common-table table tbody tr th:last-child, .common-table table tbody tr td:last-child {
  border-right: none;
}
.common-table table tbody tr:last-child {
  border-bottom: none;
}

.concept__work {
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.concept__work .grid .box strong {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  margin-bottom: 6px;
  padding-top: 32px;
}
.concept__work .grid .box strong::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.concept__work .grid .box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #4E4E4E;
}
.concept__work .grid .box.ux {
  background-color: #F3F9FF;
}
.concept__work .grid .box.ux strong {
  color: #2873E3;
}
.concept__work .grid .box.ux strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M17.4167 2.75H4.58333C3.57081 2.75 2.75 3.57081 2.75 4.58333V17.4167C2.75 18.4292 3.57081 19.25 4.58333 19.25H17.4167C18.4292 19.25 19.25 18.4292 19.25 17.4167V4.58333C19.25 3.57081 18.4292 2.75 17.4167 2.75Z' stroke='%232873E3' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.75 8.25H19.25' stroke='%232873E3' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.25 19.25V8.25' stroke='%232873E3' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__work .grid .box.ui strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M13.7501 1.83331H5.50008C5.01385 1.83331 4.54754 2.02647 4.20372 2.37028C3.8599 2.7141 3.66675 3.18042 3.66675 3.66665V18.3333C3.66675 18.8195 3.8599 19.2859 4.20372 19.6297C4.54754 19.9735 5.01385 20.1666 5.50008 20.1666H16.5001C16.9863 20.1666 17.4526 19.9735 17.7964 19.6297C18.1403 19.2859 18.3334 18.8195 18.3334 18.3333V6.41665L13.7501 1.83331Z' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.8333 1.83331V5.49998C12.8333 5.98621 13.0264 6.45253 13.3702 6.79634C13.714 7.14016 14.1804 7.33331 14.6666 7.33331H18.3333' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.16659 8.25H7.33325' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6666 11.9167H7.33325' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6666 15.5833H7.33325' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__work .grid .box.micro strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.6499 1.46532C17.0714 1.11404 17.6431 0.916687 18.2393 0.916687C18.8354 0.916687 19.4072 1.11404 19.8287 1.46532C20.2502 1.8166 20.4871 2.29304 20.4871 2.78983C20.4871 3.28662 20.2502 3.76306 19.8287 4.11434L7.11129 14.7131C6.85937 14.923 6.54798 15.0766 6.20593 15.1596L3.16476 15.899C3.07364 15.9212 2.97706 15.9225 2.88511 15.9029C2.79317 15.8833 2.70925 15.8434 2.64213 15.7875C2.57502 15.7315 2.52718 15.6616 2.50363 15.585C2.48007 15.5084 2.48166 15.4279 2.50824 15.3519L3.3956 12.8176C3.49537 12.5329 3.67965 12.2737 3.9314 12.064L16.6499 1.46532Z' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.916748 22.9167H22.9167' stroke='%236B7280' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__effect {
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.concept__effect .box {
  position: relative;
  padding: 20px 16px;
  border-radius: 14px;
  border: 1px solid #E5E7EB;
  background-color: #F3F4F7;
  text-align: center;
}
.concept__effect .box strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  color: #212121;
}
.concept__effect .box p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
  color: #4E4E4E;
  word-break: keep-all;
}
.concept__effect .box + .box::before {
  content: "";
  width: 15px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  left: -17px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39062 9.9375L5.51562 9.09375L9.01562 5.59375H0V4.35938H9.01562L5.51562 0.859375L6.39062 0L11.3594 4.96875L6.39062 9.9375Z' fill='%234A5565'/%3E%3C/svg%3E%0A");
}
.concept__case {
  position: relative;
  margin-top: 8px;
  padding: 32px 32px 64px;
  border-radius: 24px;
  background-color: #F3F4F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.concept__case .grid {
  width: fit-content;
  gap: min(12vw, 188px);
}
.concept__case .grid .box {
  width: fit-content;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.concept__case .grid .box span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.concept__case .grid .box img {
  object-fit: contain;
}
.concept__case .grid .box.before span {
  color: #EE473D;
}
.concept__case .grid .box.after span {
  color: #158463;
}
.concept__case strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  color: #000;
  text-align: center;
}
.concept__case p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #696969;
  position: absolute;
  right: 28px;
  bottom: 20px;
}
.concept__case.nt-1 .grid .box img {
  width: 310px;
  height: 382px;
}
.concept__case.nt-2 .grid .box img {
  width: 380px;
  height: 266px;
}
.concept__core {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.concept__core .grid .box {
  border-radius: 14px;
  padding: 24px;
}
.concept__core .grid .box strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
}
.concept__core .grid .box p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #4E4E4E;
}
.concept__why {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.concept__why .grid .box {
  padding: 28px;
}
.concept__why .grid .box strong {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  position: relative;
  padding-left: 36px;
}
.concept__why .grid .box strong::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.concept__why .grid .box p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #4E4E4E;
}
.concept__why .grid .box.nt-1 strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M23.3334 15.1666C23.3334 21 19.2501 23.9166 14.3967 25.6083C14.1426 25.6944 13.8665 25.6903 13.6151 25.5966C8.75008 23.9166 4.66675 21 4.66675 15.1666V6.99995C4.66675 6.69054 4.78966 6.39379 5.00846 6.175C5.22725 5.9562 5.524 5.83329 5.83341 5.83329C8.16675 5.83329 11.0834 4.43329 13.1134 2.65995C13.3606 2.44879 13.675 2.33276 14.0001 2.33276C14.3252 2.33276 14.6396 2.44879 14.8867 2.65995C16.9284 4.44495 19.8334 5.83329 22.1667 5.83329C22.4762 5.83329 22.7729 5.9562 22.9917 6.175C23.2105 6.39379 23.3334 6.69054 23.3334 6.99995V15.1666Z' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 14.0001L12.8333 16.3334L17.5 11.6667' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__why .grid .box.nt-2 strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M9.33342 3.5L4.66675 8.16667L9.33342 12.8333' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.66675 8.16675H23.3334' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.6667 24.5001L23.3334 19.8334L18.6667 15.1667' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.3334 19.8333H4.66675' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__why .grid .box.nt-3 strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M18.6666 24.5V22.1667C18.6666 20.929 18.1749 19.742 17.2998 18.8668C16.4246 17.9917 15.2376 17.5 13.9999 17.5H6.99992C5.76224 17.5 4.57526 17.9917 3.70009 18.8668C2.82492 19.742 2.33325 20.929 2.33325 22.1667V24.5' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.4999 12.8333C13.0772 12.8333 15.1666 10.744 15.1666 8.16667C15.1666 5.58934 13.0772 3.5 10.4999 3.5C7.92259 3.5 5.83325 5.58934 5.83325 8.16667C5.83325 10.744 7.92259 12.8333 10.4999 12.8333Z' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.6667 24.4999V22.1666C25.666 21.1326 25.3218 20.1282 24.6883 19.311C24.0549 18.4938 23.1679 17.9101 22.1667 17.6516' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.6667 3.65161C19.6706 3.90863 20.5603 4.49243 21.1957 5.31097C21.831 6.12952 22.1759 7.13625 22.1759 8.17244C22.1759 9.20864 21.831 10.2154 21.1957 11.0339C20.5603 11.8525 19.6706 12.4363 18.6667 12.6933' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__why .grid .box.nt-4 strong::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M13.9999 25.6666C20.4432 25.6666 25.6666 20.4432 25.6666 13.9999C25.6666 7.5566 20.4432 2.33325 13.9999 2.33325C7.5566 2.33325 2.33325 7.5566 2.33325 13.9999C2.33325 20.4432 7.5566 25.6666 13.9999 25.6666Z' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 7V14L18.6667 16.3333' stroke='%232F4B94' stroke-width='1.83333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__standard {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.concept__standard .common-table tbody td:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  text-align: center;
}
.concept__standard .common-table tbody td:first-child span {
  display: block;
  margin-top: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #979BAA;
}
.concept__standard .common-table tbody td:nth-child(2) > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #212121;
}
.concept__standard .common-table tbody td:nth-child(2) .grid {
  width: calc(100% + 40px);
  margin: 16px -20px 0;
  position: relative;
}
.concept__standard .common-table tbody td:nth-child(2) .grid .box p {
  width: 100%;
  height: 48px;
  position: relative;
  background-color: #F3F4F7;
  border-bottom: 1px solid #E5E7EB;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #6A7282;
}
.concept__standard .common-table tbody td:nth-child(2) .grid .box span {
  display: block;
  padding: 16px 20px 0 50px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #374151;
  word-break: keep-all;
}
.concept__standard .common-table tbody td:nth-child(2) .grid .box span::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  left: 20px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.concept__standard .common-table tbody td:nth-child(2) .grid .box.cnt-q span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_686_1226' fill='white'%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z'/%3E%3C/mask%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z' fill='%23E4F2FF'/%3E%3Cpath d='M0 10M20 10M20 10M0 10M10 0M20 10M10 20M0 10M10 20V19.4286C4.79274 19.4286 0.571429 15.2073 0.571429 10H0H-0.571429C-0.571429 15.8384 4.16156 20.5714 10 20.5714V20ZM20 10H19.4286C19.4286 15.2073 15.2073 19.4286 10 19.4286V20V20.5714C15.8384 20.5714 20.5714 15.8384 20.5714 10H20ZM10 0V0.571429C15.2073 0.571429 19.4286 4.79274 19.4286 10H20H20.5714C20.5714 4.16156 15.8384 -0.571429 10 -0.571429V0ZM10 0V-0.571429C4.16156 -0.571429 -0.571429 4.16156 -0.571429 10H0H0.571429C0.571429 4.79274 4.79274 0.571429 10 0.571429V0Z' fill='%232873E3' mask='url(%23path-1-inside-1_686_1226)'/%3E%3Cpath d='M13.3327 7.5L8.74935 12.0833L6.66602 10' stroke='%232873E3' stroke-width='1.04167' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.concept__standard .common-table tbody td:nth-child(2) .grid .box.cnt-a span::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_686_1231' fill='white'%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z'/%3E%3C/mask%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z' fill='%23F0FDF4'/%3E%3Cpath d='M0 10M20 10M20 10M0 10M10 0M20 10M10 20M0 10M10 20V19.4286C4.79274 19.4286 0.571429 15.2073 0.571429 10H0H-0.571429C-0.571429 15.8384 4.16156 20.5714 10 20.5714V20ZM20 10H19.4286C19.4286 15.2073 15.2073 19.4286 10 19.4286V20V20.5714C15.8384 20.5714 20.5714 15.8384 20.5714 10H20ZM10 0V0.571429C15.2073 0.571429 19.4286 4.79274 19.4286 10H20H20.5714C20.5714 4.16156 15.8384 -0.571429 10 -0.571429V0ZM10 0V-0.571429C4.16156 -0.571429 -0.571429 4.16156 -0.571429 10H0H0.571429C0.571429 4.79274 4.79274 0.571429 10 0.571429V0Z' fill='%23BBF7D0' mask='url(%23path-1-inside-1_686_1231)'/%3E%3Cpath d='M13.3327 7.5L8.74935 12.0833L6.66602 10' stroke='%23158463' stroke-width='1.04167' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.concept__ibk-visual .img {
  width: 430px;
  margin: 32px auto 56px;
}
.concept__ibk-visual .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.concept__ibk-visual .table {
  width: 100%;
  position: relative;
}
.concept__ibk-visual .table table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  border-block: 1px solid #101116;
}
.concept__ibk-visual .table table tr {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #C5C8D3;
}
.concept__ibk-visual .table table tr:last-child {
  border-bottom: none;
}
.concept__ibk-visual .table table tr th, .concept__ibk-visual .table table tr td {
  padding: 20px;
}
.concept__ibk-visual .table table tr th {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  color: #212121;
  vertical-align: top;
}
.concept__ibk-visual .table table tr td strong {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #212121;
}
.concept__ibk-visual .table table tr td p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #212121;
}
.concept__ibk-system {
  margin-top: 32px;
}
.concept__ibk-system .circle {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  border-radius: 20px;
  background-color: #F3F4F7;
  padding: 40px;
}
@media screen and (max-width: 1400px) {
  .concept__ibk-system .circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
  }
}
.concept__ibk-system .circle .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.concept__ibk-system .circle .box strong {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background-color: #2873E3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
}
.concept__ibk-system .circle .box p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: #737684;
}
.concept__ibk-system .blue-num-list {
  margin-top: 40px;
}
.concept__ibk-system .blue-num-list ol li strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
.concept__ibk-system .blue-num-list ol li p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #212121;
}
.concept__ibk-system .blue-num-list ol li + li {
  margin-top: 40px;
}
.concept__ibk-rule {
  margin-top: 32px;
}
.concept__ibk-rule .grid .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-shrink;
  gap: 52px;
}
.concept__ibk-rule .grid .box .top {
  width: 100%;
  position: relative;
  border-radius: 16px;
  border: 1px solid #E5E7EB;
  background-color: #F3F9FF;
  padding: 20px;
}
.concept__ibk-rule .grid .box .top h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #2873E3;
}
.concept__ibk-rule .grid .box .top p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #101116;
}
.concept__ibk-rule .grid .box .top::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 5L12 19' stroke='%23D3D6DE' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 12L12 19L5 12' stroke='%23D3D6DE' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.concept__ibk-rule .grid .box .bottom {
  flex: 1;
  width: 100%;
  position: relative;
  border-radius: 16px;
  border: 1px solid #E5E7EB;
  background-color: #F3F4F7;
  padding: 20px;
}
.concept__ibk-rule .grid .box .bottom > * {
  display: block;
}
.concept__ibk-rule .grid .box .bottom .step-tit {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
.concept__ibk-rule .grid .box .bottom .step-tit span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.concept__ibk-rule .grid .box .bottom .voicetone {
  width: 100%;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.concept__ibk-rule .grid .box .bottom .voicetone span {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #6A7282;
}
.concept__ibk-rule .grid .box .bottom .voicetone .flex-row {
  margin-top: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
.concept__ibk-rule .grid .box .bottom .voicetone .flex-row p {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
}
.concept__ibk-rule .grid .box .bottom .voicetone .voice .flex-row p {
  background-color: #2873E3;
  color: #FFF;
}
.concept__ibk-rule .grid .box .bottom .voicetone .tone .flex-row p {
  border: 1px solid #DBEEFF;
  background-color: #F3F9FF;
  color: #2873E3;
}

.rule__summary-kv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.rule__summary-kv .txt-box h3 {
  position: relative;
  padding-left: 24px;
  margin-top: 48px;
  border-left: 2px solid #2873E3;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.46;
  letter-spacing: -0.75px;
  color: #212121;
}
.rule__summary-kv .txt-box h3 span {
  color: #2873E3;
}
.rule__summary-kv .img-box {
  width: 334px;
  margin-right: 48px;
}
.rule__summary-kv .img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rule__summary-principle {
  margin-top: 20px;
}
.rule__summary-principle .grid {
  gap: 36px 40px;
}
.rule__summary-principle .grid .box {
  padding: 0;
}
.rule__summary-principle .grid .box .top {
  width: 100%;
  position: relative;
  padding: 28px;
  background-color: #F3F9FF;
}
.rule__summary-principle .grid .box .top span {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #111827;
}
.rule__summary-principle .grid .box .top h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #212121;
  margin-block: 4px 12px;
}
.rule__summary-principle .grid .box .top p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  color: #4E4E4E;
}
.rule__summary-principle .grid .box ol {
  width: 100%;
  position: relative;
  padding: 24px 28px 32px;
}
.rule__summary-principle .grid .box ol li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #212121;
}
.rule__summary-principle .grid .box ol li + li {
  margin-top: 16px;
}
.rule__writing-why {
  margin-top: 16px;
}
.rule__writing-why .grid .box {
  padding: 24px;
}
.rule__writing-why .grid .box strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
.rule__writing-why .grid .box p {
  position: relative;
  margin-top: 4px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #212121;
}
.rule__writing-why .grid .box p::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 0;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.5957' width='7.91421' height='7.91421' transform='rotate(45 5.5957 0)' fill='%232873E3'/%3E%3C/svg%3E%0A");
}
.rule__writing-detail {
  margin-top: 40px;
}
.rule__writing-detail ol li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.rule__writing-detail ol li strong {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
.rule__writing-detail ol li p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  color: #212121;
}
.rule__writing-detail ol li span {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #737373;
}
.rule__writing-detail ol li + li {
  margin-top: 40px;
}
.rule__writing-detail .detail-case-box .box {
  gap: 0;
}/*# sourceMappingURL=style.css.map */